html {
  box-sizing: border-box;
}

body {
  background: #FFFFFF;
  color: #757575;
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
  font-size: 16px;
  line-height: 1.9;
}

header {
  background-color: #FFFFFF;
  border-bottom: 1px solid #ECECEC;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  outline: none;
}

button {
  font-family: inherit;
  display: inline-block;
  border: 1px solid transparent;
  text-align: center;
  cursor: pointer;
  outline: none;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  width: 1200px;
}

.header {
  display: flex;
  align-items: center;
}

.webstudio {
  color: #2196F3;
  font-family: Raleway, sans-serif;
  margin-top: 25px;
  margin-bottom: 25px;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}
.webstudio__logo {
  margin-top: 25px;
  margin-bottom: 25px;
  color: #212121;
  font-family: Raleway, sans-serif;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}

.site-nav {
  display: flex;
  margin-left: 93px;
}
.site-nav__item {
  margin-left: 30px;
}
.site-nav__item + .site-nav__item {
  margin-left: 50px;
}

.site-nav__link {
  padding-top: 32px;
  padding-bottom: 32px;
  color: #212121;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  text-decoration: none;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.site-nav__link:hover, .site-nav__link:focus {
  color: #2196F3;
}

.site-nav__link--current {
  position: relative;
  color: #2196F3;
}
.site-nav__link--current::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  left: 0;
  bottom: 0px;
  background: #2196F3;
  border-radius: 2px;
}

.site-nav__social {
  display: flex;
  align-items: center;
  color: #757575;
  font-weight: 500;
  font-size: 14px;
  gap: 10px;
  line-height: 1.14;
  text-decoration: none;
  fill: #757575;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.site-nav__social:hover, .site-nav__social:focus {
  color: #2196F3;
  fill: #2196F3;
}

.sections {
  padding-top: 94px;
  padding-bottom: 94px;
}

.list {
  display: flex;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0px;
}
.list:last-child {
  margin-right: 0px;
}

.list__icon::before {
  display: block;
  content: "";
  height: 120px;
  width: 270px;
  outline: none;
  margin-bottom: 30px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.list__icon > .list__title {
  color: #212121;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  margin-top: 0px;
  margin-bottom: 10px;
}

.list__icon > .list__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  margin-bottom: 94px;
  width: 270px;
  margin-right: 30px;
}

.list__icon-antena::before {
  background-image: url(/image/Group-1.png);
}

.list__icon-clock::before {
  background-image: url(/image/Group-2.png);
}

.list__icon-computer::before {
  background-image: url(/image/Group-3.png);
}

.list__icon-cosmo::before {
  background-image: url(/image/Group-4.png);
}

.sections-hero {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(/image//BG/bg1.jpg);
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  height: 600px;
  padding-top: 200px;
  padding-bottom: 200px;
}
.sections-hero__title {
  color: #FFFFFF;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  margin-bottom: 40px;
  margin-top: 0;
  padding: 0;
}

.sections-hero__button {
  align-items: center;
  border-radius: 4px;
  padding: 10px 32px;
  min-width: 216px;
  background-color: #2196F3;
  color: #FFFFFF;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.sections-hero__button:hover, .sections-hero__button:focus {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.sections-title {
  color: #212121;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  margin-top: 0;
  margin-bottom: 50px;
}

.product {
  position: relative;
}
.product__card {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
  align-items: center;
  margin-left: 0;
  margin-bottom: 0;
  margin-top: 0;
}

.product__photo {
  margin-right: 30px;
  position: relative;
}
.product__photo:last-child {
  margin-right: 0;
}

.product__text {
  position: absolute;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  padding: 27px;
  width: 100%;
  height: 70px;
  left: 0px;
  margin: 0;
  bottom: 0px;
  color: #FFFFFF;
  background: rgba(47, 48, 58, 0.8);
}

.sections__three {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: #F5F4FA;
}

.sections__title {
  color: #212121;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  margin-top: 0;
  margin-bottom: 50px;
}

.profession {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding-left: 0;
  gap: 30px;
}
.profession .profession__link {
  background-color: #FFFFFF;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  padding: 0;
  margin-bottom: 0;
}

.profession__photo {
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 30px;
  border-radius: 0px 0px 4px 4px;
}

.profession__title {
  text-align: center;
  font-weight: 500;
  margin-top: 30px;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  color: #212121;
}

.profession__text {
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  margin-top: 0;
  margin-bottom: 16px;
}

.social-page {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 0;
  margin: 0;
}

.social-page__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 44px;
  height: 44px;
  font-size: 0;
  margin-bottom: 30px;
  fill: #AFB1B8;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-page__icon:hover, .social-page__icon:focus {
  fill: #FFFFFF;
  background-color: #2196F3;
}

.clients {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  margin: 0;
  padding: 0;
}
.clients__link:hover svg, .clients__link:focus svg {
  border-color: #2196F3;
  fill: #2196F3;
}

.clients__logo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 92px;
  font-size: 0;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  padding: 16px 32px;
  fill: #AFB1B8;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

footer {
  background-color: #2F303A;
  padding-top: 60px;
  padding-bottom: 60px;
}
footer .container {
  display: flex;
  justify-content: space-between;
}

.address {
  margin-right: 70px;
}
.address__page {
  display: contents;
  font-style: normal;
}

.address__logo {
  color: #FFFFFF;
  font-family: Raleway, sans-serif;
  font-size: 26px;
  line-height: 31px;
  text-decoration: none;
}

.address__gps {
  color: #FFFFFF;
  font-size: 14px;
  line-height: 1.7px;
  text-decoration: none;
}

.address__link {
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  line-height: 1.7px;
  text-decoration: none;
  margin-top: 0;
  margin-bottom: 9px;
}
.address__link:hover, .address__link:focus {
  color: #2196F3;
}

.network {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 0;
  margin: 0;
}
.network__title {
  color: #FFFFFF;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  margin-bottom: 20px;
}

.network__link {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 44px;
  height: 44px;
  font-size: 0;
  background: rgba(255, 255, 255, 0.1);
  fill: #FFFFFF;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.network__link:hover, .network__link:focus {
  fill: #FFFFFF;
  background-color: #2196F3;
}

.mail {
  margin-left: 93px;
}
.mail__title {
  color: #FFFFFF;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  margin-bottom: 20px;
}

.mail-list {
  display: flex;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mail-list input {
  color: #2196F3;
}
.mail-list input::-moz-placeholder {
  color: #757575;
  padding-left: 16px;
  padding-top: 15px;
  padding-bottom: 15px;
}
.mail-list input:-ms-input-placeholder {
  color: #757575;
  padding-left: 16px;
  padding-top: 15px;
  padding-bottom: 15px;
}
.mail-list input::placeholder {
  color: #757575;
  padding-left: 16px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.mail-list__id {
  width: 358px;
  height: 50px;
  padding: 0;
  background-color: #2F303A;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}

.signature {
  position: relative;
}
.signature__icon {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 13px;
  right: 28px;
  bottom: 13px;
  fill: #FFFFFF;
}

.signature__button {
  display: flex;
  align-items: center;
  text-align: center;
  width: 200px;
  height: 50px;
  font-size: 16px;
  line-height: 1.9;
  padding-left: 28px;
  margin-left: 12px;
  color: #FFFFFF;
  background-color: #2196F3;
  border-radius: 4px;
  border: 1px solid transparent;
}
.signature__button:hover, .signature__button:focus {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.9);
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  width: 528px;
  height: 581px;
  left: 50%;
  top: 50%;
  background: #FFFFFF;
  transform: translate(-50%, -50%) scale(1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 40px;
}

.modal__close {
  position: absolute;
  box-sizing: border-box;
  width: 30px;
  height: 30px;
  right: 8px;
  top: 8px;
  border-radius: 50%;
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.modal__close:hover, .modal__close:focus {
  fill: #2196F3;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__title {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  margin: 0;
  padding-bottom: 12px;
  color: #212121;
}

.modal__form {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}
.modal__form label {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  margin-bottom: 4px;
  color: rgba(117, 117, 117, 0.5);
}
.modal__form input {
  margin: 0;
  padding: 0;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  height: 40px;
  padding-left: 42px;
}

.modal__icon {
  position: absolute;
  display: block;
  top: 50%;
  left: 12px;
}

textarea {
  resize: none;
  width: 448px;
  height: 120px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}

textarea::-moz-placeholder {
  font-size: 12px;
  line-height: 1.7;
  color: rgba(117, 117, 117, 0.5);
}

textarea:-ms-input-placeholder {
  font-size: 12px;
  line-height: 1.7;
  color: rgba(117, 117, 117, 0.5);
}

textarea::placeholder {
  font-size: 12px;
  line-height: 1.7;
  color: rgba(117, 117, 117, 0.5);
}

input:focus,
textarea:focus {
  outline: 1px solid #2196F3;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

input:focus + svg {
  fill: #2196F3;
}

.checkbox {
  margin-top: 20px;
  text-align: center;
  align-items: center;
}

.checkbox__label {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 4px;
  margin: 0;
  padding: 0;
  border-radius: 2px;
}

.checkbox__input {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  position: absolute;
  clip: rect(0, 0, 0, 0);
  margin: 0 auto;
}
.checkbox__input:checked + .checkbox__span svg {
  background-color: #2196F3;
  border-radius: 2px;
  border: none;
}
.checkbox__input:focus + .checkbox__span {
  outline: 1px solid #2196F3;
}

.checkbox__span {
  display: flex;
  justify-content: center;
  align-items: center;
  fill: #FFFFFF;
}

.checkbox__icon {
  padding-left: 3px;
  padding-bottom: 3px;
  padding-top: 4px;
  padding-right: 2px;
  border-radius: 2px;
  border: 2px solid #212121;
}

.checkbox__text {
  font-size: 14px;
  line-height: 1.7;
  font-style: normal;
  font-weight: 400;
}
.checkbox__text a {
  text-decoration: underline;
}

.checkbox__button {
  width: 200px;
  height: 50px;
  margin-top: 30px;
  margin-bottom: 0 auto;
  background-color: #2196F3;
  color: #FFFFFF;
  border-radius: 4px;
}
.checkbox__button:hover, .checkbox__button:focus {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}/*# sourceMappingURL=main.css.map */