.sections {
    padding-top: 94px;
    padding-bottom: 94px;
}

.list {
    display: flex;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0px;

&:last-child {
    margin-right: 0px;
}
}


.list__icon::before {
    display: block;
    content: "";
    height: 120px;
    width: 270px;
    outline: none;
    margin-bottom: 30px;

    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.list__icon>.list__title {
    color: $title-color;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    margin-top: 0px;
    margin-bottom: 10px;
}

.list__icon>.list__text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    margin-bottom: 94px;
    width: 270px;
    margin-right: 30px;
}

.list__icon-antena::before {
    background-image: url(../image../Group-1.png);
}

.list__icon-clock::before {
    background-image: url(../image../Group-2.png);
}
.list__icon-computer::before {
    background-image: url(../image../Group-3.png);
}

.list__icon-cosmo::before {
    background-image: url(../image../Group-4.png);
}